# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

*                   @timlaverty @dluc @ppathan

LICENSE             @timlaverty @dluc @ppathan
iothub-manager      @molly-moen @sushilraje
device-telemetry    @molly-moen @jillcary
storage-adapter     @sushilraje @isaac73
asa-manager         @zhang-hua @molly-moen
auth                @elvinm @jillcary
config              @isaac73 @zhang-hua





